* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(rgb(49, 45, 51), rgb(54, 41, 151));
            color: #333;
            min-height: 100vh;
        }
        .header {
            color: white;
            padding: 40px 20px;
            text-align: center;
        }
        .foto{
            height: 15%;
            width: 15%;
            border-radius: 50%;
        }
        .nombre {
            color: #f5ffcc;
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .titulo {
            color: #f5ffcc;
            font-size: 1.2rem;
            opacity: 0.9;
        }
        .navegacion {
            background-color: #222;
            padding: 15px;
        }

        .nav-list {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
        }

        .nav-link a {
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .nav-link a:hover {
            background-color: #444;
            text-decoration: none;
        }
        .seccion-header {
            color: #00eaff;
            padding: 20px;
            text-align: center;
            font-size: 0.5cm;
        }
        .contenido-principal {
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            gap: 30px;
            padding: 40px 20px;
            max-width: 1200px;
            margin: 0 auto;
            flex-grow: 4;
        }
        .tarjeta {
            background-color: rgba(255, 254, 242, 0.95);
            border-radius: 12px;
            box-shadow: 0 8px 25px rgba(36, 0, 58, 0.3);
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .tarjeta:hover {
            background-color: rgba(2, 116, 0, 0.95);
            color:white;
            transform: translateY(-5px);
            box-shadow: 0 12px 35px rgba(36, 0, 58, 0.4);
        }

        .tarjeta-titulo {
            background-color: #334f8d;
            color: white;
            padding: 20px;
            font-size: 1.4rem;
            font-weight: bold;
        }

        .tarjeta-contenido {
            padding: 25px;
            font-size: 1.1rem;
            line-height: 1.7;
        }


            .tarjeta {
                flex: 1 1 300px;
                max-width: 400px;
            }  